{% load generatortags %}
{% start_comment %} coding: utf8 {% end_comment %}

<p> hello </p>
{% start_tag %} if object {% end_tag %}
<div id="{{modelname}}_form_header" class="object-form-header {{modelname}}-form-header">
Editing {% start_var %} object {% end_var %}
</div>
{% start_tag %} else {% end_tag %}
Create new {{modelname}}
{% start_tag %} endif {% end_tag %}
<form action="." method="post" name="{{modelname}}_form" class="model-form {{modelname}}-form">
    {% verbatim %}
        {% csrf_token %}
    {% endverbatim %}
    <table class="model-form-table {{modelname}}-form-table">
        <tbody class="model-form-tbody {{modelname}}-form-tbody">
            {% verbatim %}
                {{form.as_table}}
            {% endverbatim %}
            <tr class="model-form-table-tr {{modelname}}-form-table-tr">
                <td colspan="2" class="model-form-table-tr-td {{modelname}}-form-table-tr-td">
                    <input type="submit" value="Ok" class="model-form-submit {{modelname}}-form-submit"/>
                    <a href="{% gen_url_tag appname|lower modelname|lower "list" page=1  %}" class="model-form-cancel {{modelname}}-form-cancel">Cancel </a>
                </td>
            </tr>
       </tbody>
  </table> 
</form>
