{# coding: utf8 #}

<a href="{% url yourwebapp:yourmodel:create %}">Nuevo YourModel</a> 
{% if object_list %}
    <table class="model-list-table YourModel-list-table">
    <thead class="model-list-table-thead YourModel-list-table-thead">
        <tr class="model-list-table-thead-tr YourModel-list-table-thead-tr">
            <th class="model-list-table-tr-th-object YourModel-list-table-tr-th-object">YourModel </th> 
            <th class="model-list-table-tr-th-actions YourModel-list-table-tr-th-actions"> Acciones</th> </tr>
    </thead>
    <tbody class="model-list-table-tbody YourModel-list-table-tbody">
    {% for obj in object_list %}
        <tr class="model-list-table-tr YourModel-list-table-tr">
            <td class="model-list-table-tr-td-object YourModel-list-table-tr-td-object">{{obj}}</td>
            <td model-list-table-tr-td-actions YourModel-list-table-tr-td-actions>
                <a href="{% url yourwebapp:yourmodel:update obj.pk %}" class="model-list-table-tr-td-actions-edit YourModel-list-table-tr-td-actions-edit">edit</a>
                <a href="{% url yourwebapp:yourmodel:delete obj.pk %}" class="model-list-table-tr-td-actions-delete YourModel-list-table-tr-td-actions-delete">delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}
    <p id="yourmodel_list_not_found_msg" class="model-list-not-found-msg yourmodel-list-not-found-msg"> No yourmodels found. </p>
{% endif %}

