{% load generatortags %}
{% start_comment %} coding: utf8 {% end_comment %}

<div id="{{modelname}}_confirm_delete_header" class="model-confirm-delete-header {{modelname}}-confirm-delete-header">
Are you sure to delete  {% start_var %} object {% end_var %}?
</div>
<form action="." method="post" name="{{modelname}}_delete" class="model-confirm-delete-form {{modelname}}-confirm-delete-form">
    {% verbatim %}
        {% csrf_token %}
        {{ form }}
    {% endverbatim %}
    <div class="model-confirm-delete-buttons-bar {{modelname}}-confirm-delete-buttons-bar">
        <input type="submit" value="Ok" class="model-confirm-delete-submit{{modelname}}-confirm-delete-submit"/>
        <a href="{% gen_url_tag appname|lower modelname|lower "list" page=1 %}" class="model-confirm-delete-form-cancel {{modelname}}-confirm-delete-form-cancel">Cancel </a>
    </div>
</form>
