{# coding: utf8 #}

{% if object %}
<div id="YourModel_form_header" class="object-form-header YourModel-form-header">
Editing {{object}}
</div>
{% else %}
Create new YourModel
{% endif %}
<form action="." method="post" name="YourModel_form" class="model-form YourModel-form">
    {% csrf_token %}
    <table class="model-form-table YourModel-form-table">
        <tbody class="model-form-tbody YourModel-form-tbody">
            {{form.as_table}}
            <tr class="model-form-table-tr YourModel-form-table-tr">
                <td colspan="2" class="model-form-table-tr-td YourModel-form-table-tr-td">
                    <input type="submit" value="Ok" class="model-form-submit YourModel-form-submit"/>
                    <a href="{% url yourwebapp:yourmodel:list 1  %}" class="model-form-cancel YourModel-form-cancel">Cancel </a>
                </td>
            </tr>
       </tbody>
  </table> 
</form>
